@import url("https://fonts.cdnfonts.com/css/dekko");

body {
    /*
    background-image: url("../images/test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    */
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
}

body, html {
    /* Couleur clair
    --nav-color: #FAFAFA;
    --main-color: white;
    --area-color: #F7F9FC;
    --text-color: black;
    --button-color: #D9D9D9;
    --buttonhover-color: #A6A6A6;
    --shadow-color: black;
    --icone-color: black;
    */
    --nav-color: #15202B;
    --main-color: #1E2732;
    --area-color: #1A242F;
    --text-color: #F7F9F9;
    --button-color: #1D9BF0;
    --buttonhover-color: #188bd7;
    --shadow-color: #15202B;
    --icone-color: #188bd7;

    margin:0;
    padding:0;
}

nav {
    background-color: var(--nav-color);
    position: sticky;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    box-shadow: 2px 2px 20px var(--shadow-color);
    color: var(--text-color);

    /*Animation de la nav bar*/
    animation-duration: 3s;
    animation-name: slidein, fondu;
}

nav h1,h2 {
    font-family: Candara;
    margin: 6px;
}

nav ul,li,button {
    font-family: dekko;
    font-size: 20px;
    list-style: none;
}

nav ul {
    padding: 0px;
}

nav button {
    background-color: var(--button-color);
    border-radius: 5rem;
    border: solid 0px;
    height: 50px;
    width: 200px;
    vertical-align: middle;
    margin-bottom: 10px;
}

nav button:hover {
    background-color: var(--buttonhover-color);
    color: white;
    transition-duration: 500ms;
}

nav button a {
    text-decoration: none;
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    width: 100%;
}

hr {
    margin-bottom: 25px;
}

section {
    background-color: var(--area-color);
    color: var(--text-color);
    padding: 20px;
    margin: 50px;
    width: 850px;
    font-size: 17px;
    font-family: Candara;
    border-radius: 2rem;

    /*Animation de la section*/
    animation-duration: 5s;
    animation-name: fondu;
}

section h1 {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav img {
    border: 5px solid var(--icone-color);
    border-radius: 75% 75% 75% 75%;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.parcours article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parcours article div {
    border-left: solid 1px --icone-color;
}

.parcours article fieldset {
    border: solid 0px;
    border-left: solid 3px;
    border-radius: 0.75rem;
    height: 150px;
    margin: 8px;
    max-width: 350px;
}

.projets article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projets article a img {
    margin: 15px;
    border: solid 3px var(--text-color);
    border-radius: 0.75rem;
    height: 180px;
    width: 180px;
}

.projets article a img:hover {
    opacity: 0.5;
    transition-duration: 500ms;
}

@keyframes slidein {
    from {
        margin-left: -400px;
    }
    to {
        left: 0vw;
    }
}

@keyframes fondu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}