@import url("https://fonts.cdnfonts.com/css/dekko");

body, html {
    --header-color: white;
    --main-color: #FAFAFA;
    --text-color: black;

    margin:0;
    padding:0;
    background-image: url("../images/test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: var(--header-color);
}

ul {
    display: flex;
    flex-grow: 1;
    list-style: none;
}

li {
    font-family: dekko;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.presentation {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
}

.presentation img {
    border: 1px solid black;
    border-radius: 75% 75% 75% 75%;
}