@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

body {
    /*
    background-image: url("../images/test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    */
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
}

body,
html {
    /* Couleur clair
    --nav-color: #FAFAFA;
    --main-color: white;
    --area-color: #F7F9FC;
    --text-color: black;
    --button-color: #D9D9D9;
    --buttonhover-color: #A6A6A6;
    --shadow-color: black;
    --icone-color: black;
    */
    --nav-color: #F1F1F1;
    --main-color: #F1F1F1;
    --area-color: #F1F1F1;
    --text-color: #270EA2;
    --title-color: #1C0870;
    --button-color: #FA003F;
    --buttonhover-color: #ECECEE;
    --shadow-color: #15202B;
    --icone-color: #FA003F;

    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/paysage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
    color: #1C0870;
}

nav {
    background-color: var(--nav-color);
    position: sticky;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    box-shadow: 10px 10px 20px var(--shadow-color);
    color: var(--text-color);

    /*Animation de la nav bar*/
    animation-duration: 3s;
    animation-name: slidein, fondu;
}

nav h1,
h2 {
    font-family: Glacial Indifference;
    margin: 6px;
}

nav ul,
li,
button {
    font-family: Glacial Indifference;
    font-size: 20px;
    list-style: none;
}

nav ul {
    padding: 0px;
}

nav ul li {
    margin: 3vh;
}

nav a {
    color: var(--text-color);
    font-weight: bold;
    border-radius: 0.4rem;
    border-bottom: 5px solid var(--button-color);
    margin-bottom: 30px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--buttonhover-color);
    cursor: pointer;
    color: var(--button-color);
    border-bottom: 5px solid var(--nav-color);
    transition-duration: 500ms;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

hr {
    margin-bottom: 25px;
    height: 4px;
    background-color: var(--button-color);
    border: none;
}

section {
    background-color: var(--area-color);
    color: var(--text-color);
    padding: 20px;
    margin: 50px;
    width: 850px;
    font-size: 17px;
    font-family: Glacial Indifference;
    border-radius: 2rem;
    box-shadow: 10px 10px 20px var(--shadow-color);

    /*Animation de la section*/
    animation-duration: 5s;
    animation-name: fondu;
}

section h1 {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav img {
    border: 5px solid var(--icone-color);
    border-radius: 75% 75% 75% 75%;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.contact article {
    display: flex;
    justify-content: center;
}

.contact article div {
    border: 5px solid var(--button-color);
    border-radius: 2vw;
    margin: 20px;
    padding: 30px;
    text-align: center;
}

.contact article div a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    border-radius: 0.4rem;
    border-bottom: 5px solid var(--button-color);
    margin-top: 25px;
    text-decoration: none;
}

.contact article div a:hover {
    background-color: var(--buttonhover-color);
    cursor: pointer;
    color: var(--button-color);
    border-bottom: 5px solid var(--nav-color);
    transition-duration: 500ms;
}

.contact article div i {
    font-size: 75px;
}

.parcours article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parcours article div {
    border-left: solid 1px --icone-color;
}

.parcours article details {
    border: solid 3px var(--button-color);
    border-radius: 0.75rem;
    text-align: center;
    margin: 8px;
    padding: 12px;
    max-width: 100vw;
}

.parcours article details summary {
    font-size: 26px;
    font-weight: bold;
    color: var(--button-color);
    cursor: pointer;
}

.parcours article details summary:hover {
    text-decoration: underline;
}

.parcours article details div p {
    margin: 5px;
}

.parcours article details div p:first-child {
    color: var(--button-color);
}

.parcours article details h2 {
    text-decoration: underline;
    color: var(--title-color);
}

.parcours article details a {
    color: var(--title-color);
}

.parcours article details a:hover {
    font-size: 28px;
    color: var(--text-color);
    transition-duration: 500ms;
}

.projets article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projets article img {
    margin: 15px;
    border: solid 3px var(--button-color);
    border-radius: 0.75rem;
    height: 180px;
    width: 180px;
}

.projets article img:hover {
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 500ms;
}

.competences article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.competences article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    border: 5px solid var(--button-color);
    border-radius: 0.75rem;
    padding: 15px;
    margin: 15px;
}

.competences article div:hover {
    border: 5px solid var(--title-color);
    cursor: pointer;
}

.competences article div h2 {
    text-align: center;
}

.competences article div img {
    margin: 15px;
    height: 150px;
    width: 150px;
}

.competences article div p {
    width: 170px;
    text-align: center;
}

.competences article div img,
button {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    border: none;
    border-radius: 1rem;
    padding: 15px;
    margin: 15px 0px 15px 15px;
    width: 400px;
    background-color: var(--main-color);
    color: var(--text-color);
}

textarea {
    border: none;
    border-radius: 1rem;
    padding: 15px;
    margin: 15px 0px 15px 15px;
    background-color: var(--main-color);
    color: var(--text-color);
    resize: none;
}

.popupbackground {
    display: none;
    justify-content: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.popup {
    display: none;
    background-color: var(--main-color);
    z-index: 2;
    height: 40vw;
    width: 70vw;
    border-radius: 2vw;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.popup div:nth-child(1) {
    text-align: right;
}

.popup div:nth-child(1) img {
    width: 4%;
    cursor: pointer;
}

.popup div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
}

.information-projet {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.popup>h2 {
    font-size: 44px;
    margin-bottom: 50px;
}

.popup p,
h2,
a {
    color: var(--text-color);
    text-align: center;
}

.popup a {
    text-decoration: none;
    margin: 15px;
}

.popup a:hover {
    transition-duration: 1s;
    text-decoration: underline;
    font-size: 19px;
}

.contenu-projet {
    display: flex;
    justify-content: space-evenly;
}

.contenu-projet div {
    padding: 15px;
}

.contenu-projet div img {
    border: 2px solid var(--text-color);
    border-radius: 0.75em;
    width: 100% !important;
}

.langages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

.langages h2 {
    padding: 10px;
    border-radius: 0.75em;
}

.badgeHTML {
    background-color: #E44D26;
}

.badgeCSS {
    background-color: #264DE4;
}

.badgeJS {
    background-color: #D5BA31;
}

.badgePHP {
    background-color: #787CB4;
}

.badgeSF {
    background-color: black;
}

.badgeGIT {
    background-color: #F05030;
}

.color {
    color: var(--button-color);
}

#textRealiser,
#textOptimiser,
#textAdministrer,
#textGerer,
#textConduire,
#textCollaborer {
    display: none;
}

@keyframes slidein {
    from {
        margin-left: -400px;
    }

    to {
        left: 0vw;
    }
}

@keyframes fondu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}